# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Videos and large outputs
*.mp4
!Hardware_output.mp4
!Software_Output.mp4
*.avi
*.mkv
frames/
ground_truth.csv
ground_truth2.csv
detections.csv
sort/

# PyTorch/YOLO
*.pt
*.onnx
yolov8n.pt
yolov8s.pt
yolov8m.pt

# Temporary dump files
software_code_dump.py
